In [4]:
# Dictionary
# -indexing
# -ordered
# -multiple data
# -mutable


d={'a':'apple', 'b':'ball', 'c':'cat'}
print(d)
print(d['a']) #call its key to print its value
print(len(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
apple
3

In [6]:
# dictionary do not use operators like +, - , *, /

d={'a':'apple', 'b':'ball', 'c':'cat'} #to print only key
for i in d:
    print(i, end=" ")

a b c

In [7]:
d={'a':'apple', 'b':'ball', 'c':'cat'} #to print only values
for i in d.values():
    print(i, end=" ")

apple ball cat

In [8]:
d={'a':'apple', 'b':'ball', 'c':'cat'}  #to print both key and values
for i in d.items():
    print(i, end=" ")

('a', 'apple') ('b', 'ball') ('c', 'cat')

In [14]:
#list inside list
d=[['a','apple'],[ 'b','ball'],[ 'c','cat']] 
a=dict(d)      #converting list inside list into dictionary
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [17]:
#converting list inside dictionary into list
d={'a':'apple', 'b':'ball', 'c':'cat'}  
print(list(d.items()))

[('a', 'apple'), ('b', 'ball'), ('c', 'cat')]

In [22]:
# d=dict() #inintializing garda small bracket use garna parxa or empty dictionary define garda

d={}
d['a']='Apple'
print(d)
d['b']='Ball'
d['c']='Cat'
d['d']='Dog'
d['a']='Elephant'  #if you reaasign the key then latest value will overcome previous value
print(d)

{'a': 'Apple'}
{'a': 'Elephant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [23]:
#if you are adding key value pair in dictionary then your key must be unique
d={}
d['a']='Apple'
print(d)
d['b']='Ball'
d['c']='Cat'
d['d']='Dog'
d['e']='Elephant'  
print(d)

{'a': 'Apple'}
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [29]:
# delele and pop
d={'a': 'Elephant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}


del d['d'] #delete the value of key d

print(d)

{'a': 'Elephant', 'b': 'Ball', 'c': 'Cat'}

In [31]:
d={'a': 'Elephant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
d.pop('d')
print(d)
print(b)

{'a': 'Elephant', 'b': 'Ball', 'c': 'Cat'}

In [32]:
#WAP to take user input and create dictionary

d={}
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name = ")
    phone=input("Enter phone = ")
    d[phone]=name #d[key]=value we put phone as key bcz key need to be unique n phone number is unique but name can be same.
print(d)

Enter n= 2
Enter name = Sanaya
Enter phone = 9878675654
Enter name = Samaya
Enter phone = 9876678909
{'9878675654': 'Sanaya ', '9876678909': 'Samaya'}

In [33]:
#suppose name is unique here

d={}
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name = ")
    phone=input("Enter phone = ")
    d[name]=phone
print(d)

Enter n= 1
Enter name = Ram
Enter phone = 9876789732
{'Ram': '9876789732'}

In [36]:
# # list inside dictionary
# Suppose one person has two phone number

d={'ram':[9840987876, 9789654323], 'shyam':[9878675434,9856453432]}
print(d)
print(d['ram'][0])
print(d['shyam'][1])

{'ram': [9840987876, 9789654323], 'shyam': [9878675434, 9856453432]}
9840987876
9856453432

In [37]:
d={}
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name = ")
    ntc_phone=int(input("Enter ntc phone number = "))
    ncell_phone=int(input("Enter ncell phone number = "))

    d[name]=[ntc_phone, ncell_phone]
print(d)

Enter n= 2
Enter name = Sanaya
Enter ntc phone number = 9840851671
Enter ncell phone number = 9867564356
Enter name = Ram
Enter ntc phone number = 9878676545
Enter ncell phone number = 9876543211
{'Sanaya': [9840851671, 9867564356], 'Ram': [9878676545, 9876543211]}

In [41]:
info={'name':['Ram','Hari','Gopal','sita'],
     'ntc_number':[9856738243,9876543234,9878674932,9876564455],
     'ncell_number':[98234567898,9823456789,9876545567]}

print(info)

{'name': ['Ram', 'Hari', 'Gopal', 'sita'], 'ntc_number': [9856738243, 9876543234, 9878674932, 9876564455], 'ncell_number': [98234567898, 9823456789, 9876545567]}

In [45]:
d={'name':[],
  'ntc_phone':[],
  'ncell_phone':[]
  }

n=int(input("Enter n = "))
for i in range(n):
    name=input('Enter name = ')
    ntc_phone=int(input("Enter ntc phone number = "))
    ncell_phone=int(input("Enter ncell phone number = "))
    d['name'].append(name)
    d['ntc_phone'].append(ntc_phone)
    d['ncell_phone'].append(ncell_phone)
print(d)
# print(d(name[0],d(ntc_phone[0]),d(ncell_phone[0])))

print(d['name'][0], d['ntc_phone'][0], d['ncell_phone'][0])

Enter n = 1
Enter name = tam
Enter ntc phone number = 9874387943
Enter ncell phone number = 7834628627
{'name': ['tam'], 'ntc_phone': [9874387943], 'ncell_phone': [7834628627]}
tam 9874387943 7834628627

In [4]:
# dict inside list
d=[{'name':'ram','age':'34','add':'ktm'},
    {'name':'ramhari' ,'age':44,'add':'manakaman' },    
    {'name':'ramgopal' ,'age':84,'add':'gongabu' }]
print(d)

[{'name': 'ram', 'age': '34', 'add': 'ktm'}, {'name': 'ramhari', 'age': 44, 'add': 'manakaman'}, {'name': 'ramgopal', 'age': 84, 'add': 'gongabu'}]

In [5]:
d=[]
n=int(input("enter n = "))
for i in range(n):
    name=input("Enter name = ")
    age=int(input("Enter age = "))
    add=input("Enter address = ")
    x = {'name': name, 'age': age, 'add': add}
    d.append(x)
print(d)

enter n = 2
Enter name = sanaya
Enter age = 24
Enter address = basundhara
Enter name = binod
Enter age = 23
Enter address = gongabu
[{'name': 'sanaya', 'age': 24, 'add': 'basundhara'}, {'name': 'binod', 'age': 23, 'add': 'gongabu'}]

In [8]:
# dict inside dict

d={1:{'name':'ram','age':'34','add':'ktm'},
    2:{'name':'ramhari' ,'age':44,'add':'manakaman' },    
    3:{'name':'ramgopal' ,'age':84,'add':'gongabu' }}
print(d)
print(type(d))
print(d[1])

{1: {'name': 'ram', 'age': '34', 'add': 'ktm'}, 2: {'name': 'ramhari', 'age': 44, 'add': 'manakaman'}, 3: {'name': 'ramgopal', 'age': 84, 'add': 'gongabu'}}
<class 'dict'>
{'name': 'ram', 'age': '34', 'add': 'ktm'}

In [10]:
# Creating dictionary inside idictionary
d={}
n=int(input("enter n = "))
for i in range(1,n+1):
    name=input("Enter name = ")
    age=int(input("Enter age = "))
    add=input("Enter address = ")
    x = {'name': name, 'age': age, 'add': add}
    d[i]=x
print(d)

enter n = 2
Enter name = ram
Enter age = 34
Enter address = ktm
Enter name = rama
Enter age = 34
Enter address = ktm
{1: {'name': 'ram', 'age': 34, 'add': 'ktm'}, 2: {'name': 'rama', 'age': 34, 'add': 'ktm'}}

In [12]:
d[1]['name']
# to update name

d[1]['name']='Ramhari prasad'
print(d)

{1: {'name': 'Ramhari prasad', 'age': 34, 'add': 'ktm'}, 2: {'name': 'rama', 'age': 34, 'add': 'ktm'}}

In [13]:
# to delete the value


d={1:{'name':'ram','age':'34','add':'ktm'},
    2:{'name':'ramhari' ,'age':44,'add':'manakaman' },    
    3:{'name':'ramgopal' ,'age':84,'add':'gongabu' }}
del d[2]
print(d)

{1: {'name': 'ram', 'age': '34', 'add': 'ktm'}, 3: {'name': 'ramgopal', 'age': 84, 'add': 'gongabu'}}

In [16]:

d={1:{'name':'ram','age':'34','add':{'per':'nuwakot', 'temp':'ktm'}},
    2:{'name':'ramhari' ,'age':44,'add':{'per':'rasuwa', 'temp':'ktm'}},    
    3:{'name':'ramgopal' ,'age':84,'add':{'per':'jajarkot', 'temp':'ktm'}}}
print(d)

{1: {'name': 'ram', 'age': '34', 'add': {'per': 'nuwakot', 'temp': 'ktm'}}, 2: {'/tname': 'ramhari', 'age': 44, 'add': {'per': 'rasuwa', 'temp': 'ktm'}}, 3: {'name': 'ramgopal', 'age': 84, 'add': {'per': 'jajarkot', 'temp': 'ktm'}}}

In [1]:
pwd

'C:\\Users\\sanay\\python_class'