In [ ]:
# Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate date
# -Imutable
# frequently change nahuni data is stored in tuple
t=tuple()

In [1]:
t=(1,2,3,4)
print(type(t))

<class 'tuple'>

In [3]:
t=(1)
print(type(t)) # bcz to b tuple there must be 2 value or more or just , after 1 value
t=(1,)
print(type(t))

<class 'int'>
<class 'tuple'>

In [6]:
# No create
# No update 
# No delete
t=("Nuwakot","Rasuwa", "Dhading","Nuwakot")
print(t[0])
print(t) #ordered data type

Nuwakot
('Nuwakot', 'Rasuwa', 'Dhading', 'Nuwakot')

In [11]:
a=(345, 675,45,567,444,557,890,332,4)
print(max(a))
print(min(a))
print(sum(a))


if 4 in a:
    print("Yes")

890
4
3859
Yes

In [24]:
a=("apple","ball","cat")
if "apple" in a:
    print("Yes")

Yes

In [17]:
a=(1,4,7,)
b=(7,9,2,)
c=a+b
print(c)

(1, 4, 7, 7, 9, 2)

In [19]:
t=()
n=int(input("Enter n = "))
for i in range(n):
    x=input("Enter x= ")
    t=t+(x,)  #x is string so converting it into tuple by () and ,
print(t)

Enter n = 4
Enter x= 5
Enter x= 6
Enter x= 7
Enter x= 2
('5', '6', '7', '2')

In [22]:
a=("apple")
print(tuple(a))
print(list(a))

('a', 'p', 'p', 'l', 'e')
['a', 'p', 'p', 'l', 'e']

In [28]:
a=("apple","ball","cat")
a=list(a)  #converting tuple into list
print(a)
del a[0]  #deleting from tuple by converting it into list
a=tuple(a) #reversing list into tuple
print(a)

['apple', 'ball', 'cat']
('ball', 'cat')

In [1]:
# tuple inside tuple

t=((1,2,3),
  (3,4,5),
  (5,6,7)
  )
print(t)

((1, 2, 3), (3, 4, 5), (5, 6, 7))

In [2]:
# tuple inside tuple

info=()
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    age=input("Enter age = ")
    x=(name, age)
    info=info + (x,)
print(info)

Enter n = 2
Enter name = ram
Enter age = 34
Enter name = shyam
Enter age = 45
(('ram', '34'), ('shyam', '45'))

In [5]:
#list inside tuple
a=(['ram', '34'], ['shyam', '45'])
print(a[0])

['ram', '34']

In [6]:
# tuple inside list


t=[('ram',78),('binod',24)]
print(t)

[('ram', 78), ('binod', 24)]

In [10]:
a={('sita','Gita'):"Bhumi prasad ghimire", 'hari':986437282}
print(a['sita','Gita']+" is the father of ")

KeyError: 0