In [ ]:
# Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate date
# -Imutable
# frequently change nahuni data is stored in tuple
t=tuple()

In [1]:
t=(1,2,3,4)
print(type(t))

<class 'tuple'>

In [3]:
t=(1)
print(type(t)) # bcz to b tuple there must be 2 value or more or just , after 1 value
t=(1,)
print(type(t))

<class 'int'>
<class 'tuple'>

In [6]:
# No create
# No update 
# No delete
t=("Nuwakot","Rasuwa", "Dhading","Nuwakot")
print(t[0])
print(t) #ordered data type

Nuwakot
('Nuwakot', 'Rasuwa', 'Dhading', 'Nuwakot')

In [11]:
a=(345, 675,45,567,444,557,890,332,4)
print(max(a))
print(min(a))
print(sum(a))


if 4 in a:
    print("Yes")

890
4
3859
Yes

In [24]:
a=("apple","ball","cat")
if "apple" in a:
    print("Yes")

Yes

In [17]:
a=(1,4,7,)
b=(7,9,2,)
c=a+b
print(c)

(1, 4, 7, 7, 9, 2)

In [19]:
t=()
n=int(input("Enter n = "))
for i in range(n):
    x=input("Enter x= ")
    t=t+(x,)  #x is string so converting it into tuple by () and ,
print(t)

Enter n = 4
Enter x= 5
Enter x= 6
Enter x= 7
Enter x= 2
('5', '6', '7', '2')

In [22]:
a=("apple")
print(tuple(a))
print(list(a))

('a', 'p', 'p', 'l', 'e')
['a', 'p', 'p', 'l', 'e']

In [26]:
a=("apple","ball","cat")
a=list(a)
print(a)

ValueError: dictionary update sequence element #0 has length 5; 2 is required